
*.bak
*.o
*.swp
*~
.DS_Store
.dirstamp
CVS
Thumbs.db
core
core.*
np2tool/np2tool.d88
x11/ABOUT-NLS
x11/ChangeLog
x11/Makefile
x11/Makefile.in
x11/aclocal.m4
x11/autom4te.cache
x11/compile
x11/config.guess
x11/config.h
x11/config.h.in
x11/config.log
x11/config.rpath
x11/config.status
x11/config.sub
x11/configure
x11/gtk4/resources.c
x11/install-sh
x11/m4
x11/missing
x11/po/*.gmo
x11/po/Makefile
x11/po/Makefile.in
x11/po/POTFILES
x11/po/remove-potcdate.sed
x11/po/stamp-po
x11/po/xnp2.pot
x11/stamp-h1
x11/xnp2
x11/xnp2.1
x11/xnp2.1j
x11/xnp21
x11/xnp21.1
x11/xnp21.1j
